*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    color: black;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 800px;
    gap: 10px;
    padding: 30px;
}


main div{
    height: 250px;
    width: 230px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
}

img{    
    height: 220px;
    width: 200px;
}
h2{
     text-align: center;
}