*{
  margin: 0;
  padding: 0;
  list-style: none;
  border: none;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1018%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M420 95.45C411.24 95.45 406.73 116.67 399.15 140C376.73 208.95 357.25 210.81 360 280C362.81 350.81 389.94 348.82 410.28 420C419.94 453.82 415.35 490 420 490C424.64 490 425.87 455.14 428.86 420C434.8 350.14 436.77 350.05 437.87 280C438.96 210.05 439.95 209.29 433.24 140C431.01 117.01 428.28 95.45 420 95.45' stroke='rgba(227%2c 8%2c 8%2c 0.42)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1109.23 0C1115.27 0.25 1115.03 5.75 1120 5.75C1123.33 5.75 1121.8 0.17 1125.83 0C1191.8 -2.71 1192.91 0 1260 0C1330 0 1330 0 1400 0C1440.25 0 1446.27 -14.55 1480.5 0C1516.27 15.2 1524.8 23.73 1540 59.5C1554.55 93.73 1540 99.75 1540 140C1540 210 1540 210 1540 280C1540 350 1540 350 1540 420C1540 490 1575 525 1540 560C1505 595 1470 560 1400 560C1330 560 1330 560 1260 560C1190 560 1190 560 1120 560C1050 560 1050 560 980 560C910 560 910 560 840 560C770 560 770 560 700 560C650 560 646.27 570.6 600 560C576.27 554.56 583.27 527.92 560 527.92C506.23 527.92 503.36 546.84 445.93 560C433.36 562.88 432.97 560 420 560C350 560 350 560 280 560C210 560 210 560 140 560C70 560 35 595 0 560C-35 525 0 490 0 420C0 350 0 350 0 280C0 210 0 210 0 140C0 70 -35 35 0 0C35 -35 70 0 140 0C210 0 210 0 280 0C350 0 350 0 420 0C490 0 490 0 560 0C630 0 630 0 700 0C770 0 770 0 840 0C910 0 910 0 980 0C1044.62 0 1045.27 -2.63 1109.23 0' stroke='rgba(227%2c 8%2c 8%2c 0.42)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1400 94.71C1380.48 94.71 1363.33 120.08 1363.33 140C1363.33 155.14 1381.08 164.84 1400 164.84C1422.06 164.84 1445.29 155.65 1445.29 140C1445.29 120.59 1421.46 94.71 1400 94.71' stroke='rgba(227%2c 8%2c 8%2c 0.42)' stroke-width='2'%3e%3c/path%3e%3cpath d='M140 249.87C121.66 249.87 110.98 263.9 110.98 280C110.98 299.13 119.84 320.34 140 320.34C181.95 320.34 235.2 297.92 235.2 280C235.2 262.69 183.77 249.87 140 249.87' stroke='rgba(227%2c 8%2c 8%2c 0.42)' stroke-width='2'%3e%3c/path%3e%3cpath d='M980 243.08C956.33 243.08 941.85 253.8 933.97 280C915.25 342.26 911.72 357.39 926.8 420C934.74 452.96 946.68 461.27 980 471.15C1043.28 489.91 1051.82 487.17 1120 477.27C1191.82 466.84 1191.41 456.34 1260 430.5C1267.41 427.71 1272 425.58 1272 420C1272 413.77 1268.53 408.35 1260 406.88C1192.53 395.23 1176.19 425.2 1120 393.75C1062.85 361.76 1081.49 331.83 1033.33 280C1011.49 256.49 1006.01 243.08 980 243.08' stroke='rgba(227%2c 8%2c 8%2c 0.42)' stroke-width='2'%3e%3c/path%3e%3cpath d='M49.12 140C49.12 112.2 11.86 115.47 0 81.67C-12.7 45.47 -20.63 20.2 0 0C21.07 -20.63 46.28 -12.59 83.4 0C116.28 11.16 106.86 46.02 140 47.5C205.16 50.4 232.75 -14.91 280 8.75C325.09 31.34 324.68 77.4 324.68 140C324.68 175.84 313.42 193.77 280 205.63C221.08 226.55 200.9 184.18 140 205.57C95.04 221.36 68.29 240.22 68.29 280C68.29 327.26 92.71 370.65 140 379.66C198.56 390.82 220.01 309.42 280 320.34C330.84 329.59 342.1 362.57 361.67 420C382.93 482.4 387.46 515.79 361.67 560C346.63 585.79 320.84 560 280 560C216.77 560 212 568.77 153.55 560C142 558.27 151.58 539.57 140 539C74.81 535.79 36.05 583.07 0 552.43C-33.95 523.57 0 486.21 0 420C0 350 0 350 0 280C0 233.34 -14.23 227.23 0 186.67C10.33 157.23 49.12 164.7 49.12 140' stroke='rgba(227%2c 8%2c 8%2c 0.42)' stroke-width='2'%3e%3c/path%3e%3cpath d='M480.54 140C492.83 70.19 518.01 72.53 560 9.33C564.52 2.53 565.49 0.54 573.55 0C635.49 -4.13 636.78 0 700 0C770 0 770 0 840 0C910 0 910 0 980 0C999.74 0 1001.48 -6.91 1019.49 0C1071.48 19.94 1073.64 53.7 1120 53.7C1151.11 53.7 1141.4 12.67 1174.44 0C1211.4 -14.18 1217.22 0 1260 0C1326.95 0 1389.65 -29.81 1393.91 0C1399.65 40.19 1278.31 78.63 1280 140C1281.36 189.28 1337.25 217.91 1400 221.29C1467.25 224.91 1501.35 137.79 1540 154C1571.35 167.15 1540 217 1540 280C1540 350 1540 350 1540 420C1540 478.09 1569.74 526.71 1540 536.17C1499.74 548.98 1462.94 508.07 1400 464.55C1378.94 449.99 1388.85 440.1 1372 420C1318.85 356.58 1327.92 324.23 1260 297.5C1201.92 274.64 1182.83 327.26 1120 320.83C1097.28 318.51 1108.44 296.23 1088.89 280C1038.44 238.13 1033.11 204.62 980 204.62C931.68 204.62 914.19 230.76 886.03 280C852.59 338.45 835.39 361.13 856.8 420C882.38 490.36 913.68 486.65 980 538.46C1003.28 556.65 1036 554.43 1036 560C1036 565.2 1008 560 980 560C910 560 910 560 840 560C770 560 770 560 700 560C672.72 560 668.72 571.39 645.45 560C598.72 537.12 602.51 526 560 491.46C516.36 456 483.55 466.12 473.16 420C459.72 360.39 510.48 350.44 512.34 280C514.17 210.44 469 205.53 480.54 140' stroke='rgba(227%2c 8%2c 8%2c 0.42)' stroke-width='2'%3e%3c/path%3e%3cpath d='M700 398.04C686.94 398.04 680.35 408.32 680.35 420C680.35 434.04 685.38 449.47 700 449.47C735.2 449.47 780 433.03 780 420C780 407.32 736.77 398.04 700 398.04' stroke='rgba(227%2c 8%2c 8%2c 0.42)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1190 560C1190 548.69 1225.56 518 1260 518C1291.67 518 1322.22 548.52 1322.22 560C1322.22 569.52 1291.11 560 1260 560C1225 560 1190 569.69 1190 560' stroke='rgba(227%2c 8%2c 8%2c 0.42)' stroke-width='2'%3e%3c/path%3e%3cpath d='M110.53 140C110.53 126.25 122.07 110 140 110C174.98 110 216.36 126.96 216.36 140C216.36 152.6 176.28 161.27 140 161.27C123.37 161.27 110.53 151.88 110.53 140' stroke='rgba(227%2c 8%2c 8%2c 0.42)' stroke-width='2'%3e%3c/path%3e%3cpath d='M8.94 0C8.94 2.55 2.63 8.75 0 8.75C-1.84 8.75 -2.21 2.16 0 0C2.26 -2.21 8.94 -1.82 8.94 0' stroke='rgba(227%2c 8%2c 8%2c 0.42)' stroke-width='2'%3e%3c/path%3e%3cpath d='M527.84 140C527.84 111.87 534.81 87.11 560 87.11C620.89 87.11 630 113.56 700 140C700 140 700 140 700 140C766.32 210 832.63 225.38 832.63 280C832.63 320.09 764.7 329.41 700 329.41C651.72 329.41 649.43 309.89 606.67 280C579.43 260.96 576.14 260.2 560 231.54C536.72 190.2 527.84 184.09 527.84 140' stroke='rgba(227%2c 8%2c 8%2c 0.42)' stroke-width='2'%3e%3c/path%3e%3cpath d='M700 140C663.5 122.64 686.45 63.85 686.45 0C686.45 -6.15 693.22 0 700 0C770 0 770 0 840 0C884.21 0 892.02 -16.44 928.42 0C962.02 15.17 945.53 44.94 980 63.23C1041.32 95.76 1052.15 77.04 1120 101.64C1158.04 115.43 1191.79 113.39 1191.79 140C1191.79 177.73 1165.35 224.72 1120 230.32C1059.46 237.8 1050.23 197.71 980 166.15C949.72 152.55 946.32 158.19 918.97 140C876.32 111.63 883.81 73.04 840 73.04C774.33 73.04 740.27 159.16 700 140' stroke='rgba(227%2c 8%2c 8%2c 0.42)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1260 70C1237.93 70 1223.06 23.86 1223.06 0C1223.06 -11.14 1241.53 0 1260 0C1288.91 0 1317.83 -13.62 1317.83 0C1317.83 21.38 1285.32 70 1260 70' stroke='rgba(227%2c 8%2c 8%2c 0.42)' stroke-width='2'%3e%3c/path%3e%3cpath d='M0 245C7.09 245 16.86 260.31 25.61 280C55.75 347.81 85.89 363.68 77.78 420C73.08 452.6 27.05 457.84 0 457.84C-11.84 457.84 0 438.92 0 420C0 350 0 350 0 280C0 262.5 -5.72 245 0 245' stroke='rgba(227%2c 8%2c 8%2c 0.42)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1393.64 280C1393.64 278.03 1396.7 277.74 1400 277.74C1408.63 277.74 1417.5 277.68 1417.5 280C1417.5 282.5 1407.89 287.37 1400 287.37C1395.96 287.37 1393.64 282.84 1393.64 280' stroke='rgba(227%2c 8%2c 8%2c 0.42)' stroke-width='2'%3e%3c/path%3e%3cpath d='M184.8 420C187.44 384.88 237.37 379.66 280 379.66C301.5 379.66 311.89 395.79 313.06 420C316.26 485.96 304.32 494.06 288.75 560C287.79 564.06 284.38 560 280 560C273.23 560 270.12 565.4 266.45 560C222.52 495.4 180.66 475.05 184.8 420' stroke='rgba(227%2c 8%2c 8%2c 0.42)' stroke-width='2'%3e%3c/path%3e%3cpath d='M517.47 420C517.47 374.37 535.44 318.18 560 318.18C586.18 318.18 618.95 376.78 618.95 420C618.95 445.19 588.14 455 560 455C537.4 455 517.47 442.78 517.47 420' stroke='rgba(227%2c 8%2c 8%2c 0.42)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1478.75 420C1478.75 379.42 1523.32 326.67 1540 326.67C1553.95 326.67 1540 373.34 1540 420C1540 440.85 1551.03 461.7 1540 461.7C1520.4 461.7 1478.75 446.94 1478.75 420' stroke='rgba(227%2c 8%2c 8%2c 0.42)' stroke-width='2'%3e%3c/path%3e%3cpath d='M690.91 560C690.91 553.62 693.04 541.58 700 541.58C711.05 541.58 726.92 554.95 726.92 560C726.92 564.16 713.46 560 700 560C695.45 560 690.91 562.83 690.91 560' stroke='rgba(227%2c 8%2c 8%2c 0.42)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1018'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");;

}

#root{
  width: 500px;
  min-height: auto;
  background: #f3f0f0;
  padding: 30px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.titulo{
  text-align: center;
  color: rgb(231, 22, 22);

}

.caja{
  width: 250px;
  border-radius: 50px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.inputCaja , .botonCaja {
  padding: 10px;
}

.inputCaja{
  width: 60%;
  border-radius: 20px 0 0 20px;
}
.botonCaja{
  width: auto;
  height: 100%;
  padding: 0;
  background-color: rgb(241, 97, 25);
  padding: 10px;
  border-radius: 20px;
  color: rgb(255, 255, 255);
}
.inputCaja:focus{
  outline: none !important; 
}

.tareas{
  display: flex;
  justify-content: space-between;
  gap: 5px;
  min-width:250px ;
  padding: 5px;
}

.check{
  margin-right: 10px;
  transform: scale(1.5);
  border-radius: 50% ;
}

.botonEliminar{
  color: red;
  cursor: pointer;
}



